// "main": "main.less"
.bgFix {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.reset {
  margin: 0px;
  border: none;
  border-radius: 0px;
  min-height: inherit;
}
.fixRow {
  .fixRow( @spacer / 2 );
}
.fixRow-10 {
  .fixRow( 10px );
}
.removeGutter {
  .fixRow( 0px );
}
.noMargin {
  margin: 0px!important;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  .revRow {
    .fixRow( 15px );
  }
}
.text-app-primary {
  color: @app-brand-primary;
}
.text-bold {
  font-weight: 700;
}
.text-light {
  font-weight: 300;
}
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: absolute;
  z-index: 1000;
  border-radius: 20px;
}
.option-input:hover {
  background: @app-brand-secondary;
}
.option-input:checked {
  background: @app-brand-primary;
}
.option-input:checked::before {
  font-family: serif;
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
.option-input[type="radio"]:checked::before {
  content: "•";
  font-size: 42px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
