// "main": "main.less"
header {
  .navbar {
    .reset();
    background-color: #000;
    .container-fluid {
      padding-left: @spacer;
      padding-right: @spacer;
    }
    .navbar-header {
      float: left;
      .navbar-brand {
        height: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        img {
          height: 30px;
          width: auto;
        }
      }
    }
    .navbar-collapse {
      border: none!important;
      float: right;
    }
    .navbar-text {
      color: #FFF;
      font-size: 18px;
      padding-top: 8px;
      padding-bottom: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: 300;
      a {
        color: #FFF;
        display: inline-block;
        margin-left: 15px;
        &:hover {
          color: @app-brand-secondary;
        }
      }
      .btn {
        border: solid 1px #FFF;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 14px;
        margin-left: 15px;
      }
    }
  }
}
