// "out": "../css/main.css", "compress": true, "autoprefix": "last 2 versions"
@import "../lib/twbs/bootstrap/less/bootstrap";
@import "mixins";
@import "classes";
@import "header";
@import "main-section";

@app-brand-primary: #d51f27;
@app-brand-secondary: #ffb500;

@app-border-color: #e9e9e9;

@spacer: 40px;

*:focus {
  outline: none!important;
}
body {
  font-family: "proxima-nova-condensed", sans-serif;
}
a {
  color: @app-brand-primary;
  text-decoration: none;
}
