// "main": "main.less"
#main {
  background: #fdfefe url(../img/bg-main.jpg) no-repeat top center;
  background-attachment: fixed;
  background-size: 100% auto;
  padding-bottom: @spacer * 2;
  a {
    color: @app-brand-primary;
    text-decoration: none;
    &:hover {
      color: darken( @app-brand-primary, 10% );
    }
  }
  .tagline {
    color: #FFF;
    h1 {
      font-size: 50px;
      font-weight: 700;
      margin-top: @spacer * 2;
      span {
        color: @app-brand-secondary;
      }
    }
    p.lead {
      font-size: 22px;
      margin-bottom: @spacer;
    }
  }
  .form-checkout {
    .box-shadow(0, 0px, 62px, rgba(0,0,0,.05));
    background-color: #FFF;
    .page-header {
      border-left: solid 15px @app-brand-primary;
      padding: @spacer / 2;
      margin: 0px;
      border-bottom: solid 1px @app-border-color;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .logos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        img {
          margin: 0px 15px;
          display: inline-block;
        }
      }
      .encryption {
        margin: 0px;
        margin-left: auto;
        text-align: right;
        .label {
          background-color: #2cd15b;
          padding: 5px 10px 5px 5px;
          border-radius: 10px;
          i.fa {
            color: #186f30;
          }
        }
      }
      h3 {
        margin: 0px;
        margin-right: 15px;
        font-size: 22px;
        font-weight: 700;
        i.fa {
          color: @app-brand-primary;
        }
      }
    }
    .primary, .secondary {
      border-right: solid 1px @app-border-color;
    }
    section {
      padding: @spacer;
      border-bottom: solid 1px @app-border-color;
      &:last-child {
        border: none;
      }
      h3 {
        font-size: 30px;
        font-weight: 700;
        color: #000;
        margin: 0 0 @spacer;
        span {
          color: @app-brand-primary;
        }
      }
      hr {
        margin: @spacer -@spacer;
      }
      .checkbox {
        margin: 0px;
        label {
          position: relative;
          padding-left: 0px;
          .option-input {
            margin: 0px;
            margin-right: 10px;
          }
          div {
            display: inline-table;
            margin-left: @spacer;
            h4 {
              color: @app-brand-primary;
              font-size: 22px;
              line-height: 26px;
              font-weight: 700;
              margin: 0 0 5px;
            }
            span {
              display: block;
              color: #000;
              font-size: 20px;
              font-weight: 400;
              &.price {
                margin-bottom: 5px;
              }
              &.desc {
                font-size: 18px;
                font-weight: 300;
              }
            }
          }
        }
      }
      .form-group {
        margin-bottom: @spacer / 2;
        position: relative;
        label {
          margin-bottom: 0px;
          font-size: 18px;
          font-weight: 700;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          span {
            color: @app-brand-primary;
          }
        }
        p {
          font-size: 15px;
          color: #818a96;
          font-weight: 300;
          margin-bottom: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .form-control {
          .placeholder(#c0c5cb);
          border: solid 2px #dbdee8;
          box-shadow: none;
          &::-moz-placeholder { font-weight: 300; }
            &:-ms-input-placeholder { font-weight: 300; }
            &::-webkit-input-placeholder { font-weight: 300; }
        }
        &.confirm {
          .checkbox {
            label {
              div {
                margin-left: 30px;
                margin-top: 5px;
                display: inline-grid;
              }
            }
          }
        }
        &.has-error {
          .form-control,
          .input-group-addon {
            border-color: #a94442;
            color: #a94442;
          }
        }
        &.has-success {
          .form-control,
          .input-group-addon {
            border-color: #3c763d;
            color: #3c763d;
          }
        }
        &.has-warning {
          .form-control,
          .input-group-addon {
            border-color: #8a6d3b;
            color: #8a6d3b;
          }
        }
      }
      .input-group {
        .form-control {
          border-right: none;
        }
        .input-group-addon {
          border: solid 2px #dbdee8;
          border-left: none;
          padding: 0px 10px 0px 0px;
          background-color: transparent;
          a {
            font-size: 14px;
            color: #dbdee8;
          }
        }
      }
      &.summary {
        p {
          font-size: 18px;
        }
      }
    }
    #submit {
      background-color: @app-brand-primary;
      border-color: @app-brand-primary;
      font-size: 22px;
      font-weight: 700;
      padding-top: 15px;
      padding-bottom: 15px;
      i.fa {
        color: #7f1e23;
      }
    }
  }
}
@media (max-width: @screen-md-max) {
  #main {
    background-size: auto 500px;
  }
}
@media (max-width: @screen-sm-max) {
  #main {
    .checkout {
      .page-header {
        display: block!important;
        h3, div.logos, p.encryption {
          display: block;
        }
        h3 {
          margin-bottom: 25px;
        }
        div.logos {
          margin-bottom: 15px;
          img {
            margin-bottom: 10px;
          }
        }
        p.encryption {
          margin: auto;
          margin-left: @spacer / 2;
          text-align: left!important;
        }
      }
    }
  }
}
